In [18]:
import pandas as pd 
import numpy as np

In [19]:
df=pd.read_csv('covid_toy.csv')

In [20]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [21]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [22]:
# null value check 
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2 )

In [24]:
X_train

    age  gender  fever   cough       city
70   68  Female  101.0  Strong      Delhi
0    60    Male  103.0    Mild    Kolkata
78   11    Male  100.0    Mild  Bangalore
94   79    Male    NaN  Strong    Kolkata
41   82    Male    NaN    Mild    Kolkata
..  ...     ...    ...     ...        ...
39   50  Female  103.0    Mild    Kolkata
97   20  Female  101.0    Mild  Bangalore
42   27    Male  100.0    Mild      Delhi
43   22  Female   99.0    Mild  Bangalore
46   19  Female  101.0    Mild     Mumbai

[80 rows x 5 columns]

In [25]:
# Missing Value hundle or imputinig - this missing vlaue replace mean value

In [37]:
# Adding simple imputing fever col
from sklearn.impute import SimpleImputer
si =SimpleImputer()

X_train_fever=si.fit_transform(X_train[['fever']])

# now also test data 
X_test_fever=si.fit_transform(X_test[['fever']])

In [38]:
X_train_fever.shape

(80, 1)

In [71]:
# Now Ordinal Encodeing 
# OrdinaEncodeing -> cough

from sklearn.preprocessing import OrdinalEncoder

# Define the categories for the encoder (e.g., for a 'cough' feature)
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])

X_train_cough=oe.fit_transform(X_train[['cough']])

# agin test data

X_test_cough=oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [51]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [64]:
# OneHot Encodeing -> gender,city
from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder(drop='first',sparse_output=False) # First colum drop 

X_train_gender_city=ohe.fit_transform(X_train[['gender','city']])


# Also the test Data
X_test_gender_city=ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [66]:
# Extracting Age'
# Trining Data
X_train_age=X_train.drop(columns=['gender','fever','cough','city']).values

# Test Data
X_test_age=X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [70]:
## All data Merge
X_train_transformed=np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)

X_test_transformed=np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

In [73]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

# Apply Transfor Onetime

In [96]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

transformer = ColumnTransformer(
    transformers=[
        ('tnf1', SimpleImputer(), ['fever']),
        ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
        ('tnf3', OneHotEncoder(drop='first', sparse_output=False), ['city', 'gender'])
    ],
    remainder='drop'
)

# Example usage (assuming you have a DataFrame called 'df'):
# import pandas as pd
# df = pd.DataFrame({'fever': [98.6, None, 100.1], 'cough': ['Mild', 'Strong', 'Mild'], 'age': ['young', 'old', 'young'], 'gender': ['M', 'F', 'M']})
# transformed_data = transformer.fit_transform(df)
# print(transformed_data)

In [97]:
# Now Fit Transfrom
transformer.fit_transform(X_train).shape

(80, 6)

In [98]:
transformer.fit_transform(X_test).shape

(20, 6)