In [40]:
# Mixed Variable or Data
import pandas as pd

# Example DataFrame
df = pd.DataFrame({'mixed_col': [1, 'two', 3.5, 'four']})

# Check data types
print(df['mixed_col'].apply(type))

0      <class 'int'>
1      <class 'str'>
2    <class 'float'>
3      <class 'str'>
Name: mixed_col, dtype: object

In [41]:
df.sample(4)

  mixed_col
0         1
1       two
3      four
2       3.5

In [42]:
# Separate Mixed Types into Different Column
df['numeric']=pd.to_numeric(df['mixed_col'],errors='coerce')
df['textual']=df['mixed_col'].where((df['numeric']).isna())
print(df)

  mixed_col  numeric textual
0         1      1.0     NaN
1       two      NaN     two
2       3.5      3.5     NaN
3      four      NaN    four