### String Operations
Given a string "Hello World", reverse the string using slicing.

In [ ]:
string = "Hello World"
reversed_string = string[::-1]
print(reversed_string)

dlroW olleH

### String Slicing
Given a string, extract a substring using slicing. For example, extract the word "quick" from the sentence, "The quick brown fox jumps over the lazy dog"

In [ ]:
s= "The quick brown fox jumps over the lazy dog"
substring=s[4:9]
print(substring)

quick

### String Split with a Specific Delimiter
Split a date string into day, month, and year. (e,g., date ="10-18-2024')

In [ ]:
date="10-18-2024"
day, month,year=date.split('-')
print("Day:", day)
print("Month:", month)
print("Year:", year)

Day: 10
Month: 18
Year: 2024

### Regular Expressions
Checks if a given email address is valid (contains "@" and ".com" or ".org").

In [ ]:
def valid_email(email):
    if "@" in email and (email.endswith(".com") or email.endswith(".org")):
        return True
    return False

# Test examples
email1 = "user@example.com"
email2 = "invalid-email@domain"
email3 = "user@domain.org"

print(valid_email(email1)) 
print(valid_email(email2))  
print(valid_email(email3))

True
False
True

### String Replace
Write a program that replaces all occurrences of the word "apple" with "orange" in a given string, "I like apple. Apple is sweet."

In [ ]:
def replacefunc(text):
    result = text.replace("apple", "orange").replace("Apple", "Orange")
    return result

# Input string
text = "I like apple. Apple is sweet."

# Replace "apple" with "orange"
reptext=replacefunc(text)
print(reptext)

I like orange. Orange is sweet.

### Dictionaries
Write a program that stores the names and ages of 3 people in a dictionary and prints the name of the person with the highest age.

In [ ]:
people = {
    "Khan": 25,
    "Jhan": 30,
    "Pervez": 22
}

oldest_person = ""
highest_age = 0

for name in people:
    age = people[name]
    if age > highest_age:
        highest_age = age
        oldest_person = name
print("The oldest person is:", oldest_person)

The oldest person is: Jhan

In [ ]:
#Sorry sir! I Don't understood.

<hr>

Now, let us create your first tuple with string, integer and float.

In [ ]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
print(tuple1)

('disco', 10, 1.2)

The type of variable is a **tuple**.

In [ ]:
# Print the type of the tuple you created

type(tuple1)

:

We can print out each value in the tuple:

In [ ]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

We can print out the **type** of each value in the tuple:

In [ ]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

We can also use negative indexing. We use the same table above with corresponding negative values:

In [ ]:
# Use negative index to get the value of the last element

tuple1[-1]

We can display the next two elements as follows:

In [ ]:
#second element print 
tuple1[-2]

In [ ]:
# Use negative index to get the value of the third last element

tuple1[-3]

<h3 id="concate">Concatenate Tuples</h3>

We can concatenate or combine tuples by using the **+** sign:

In [ ]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

<h3 id="slice">Slicing</h3>

We can slice tuples, obtaining new tuples with the corresponding elements:

In [ ]:
# Slice from index 0 to index 2

tuple2[0:3]

We can obtain the last two elements of the tuple:

In [ ]:
# Slice from index 3 to index 4

tuple2[3:5]

We can obtain the length of a tuple using the length command:

In [ ]:
# Get the length of tuple

len(tuple2)

This figure shows the number of elements:

<h3 id="sort">Sorting</h3>

 Consider the following tuple:

In [ ]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

We can sort the values in a tuple and save it to a new tuple:

In [ ]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

<h3 id="nest">Nested Tuple</h3>

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Each element in the tuple, including other tuples, can be obtained via an index as shown in the figure:

In [ ]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

We can use the second index to access other tuples as demonstrated in the figure:

 We can access the nested tuples:

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

We can access strings in the second nested tuples using a third index:

In [ ]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

In [ ]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

The following figure shows the relationship of the tree and the element <code>NestedT[4][1][1]</code>:

In [ ]:
music_genres = ("pop", "rock", "soul", "hard rock", "soft rock")

#trying to modify a tuple
music_genres[0]= "disco" #error

print(music_genres)

NOW START LIST

<h3 id="index">Indexing</h3>

In [1]:
# Create a list

L = ["Hasan", 10.1, 1982]
L

['Hasan', 10.1, 1982]

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

In [ ]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

If we append the list  <code>['a','b']</code> we have one new element consisting of a nested list:

In [ ]:
# Use append to add elements to list

L.append(['a','b'])
L

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

 We can also delete an element of a list using the <code>del</code> command:

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

In [ ]:
# Split the string, default is by space

'hard rock'.split()

In [ ]:
# Split the string by comma

'A,C,D'.split(',')

<h3 id="co">Copy and Clone List</h3>

When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [4]:
# Copy (copy by reference) the list A

A = ["hard work", 10, 12]
B = A
print('A:', A)
print('B:', B)

A: ['hard work', 10, 12]
B: ['hard work', 10, 12]

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

Now if you change <b>A</b>, <b>B</b> will not change:

In [ ]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

NOW SET

<h2 id="set">Sets</h2>

In [ ]:
# Create a set

set1 = {"pope", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

Now let us create a set of  genres:

<h3 id="op">Set Operations</h3>

In [5]:
# Sample set

A = set(["joni", "are you", "ok"])
A

{'are you', 'joni', 'ok'}

In [6]:
# Add element to set

A.add("N")
A

{'N', 'are you', 'joni', 'ok'}

 If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [ ]:
# Try to add duplicate element to the set

A.add("N")
A

 We can remove an item from a set using the <code>remove</code> method:

In [8]:
# Remove the element from set

A.remove("N")
A

{'are you', 'joni', 'ok'}

 We can verify if an element is in the set using the <code>in</code> command:

In [9]:
# Verify if the element is in the set

"N" in A

False

<h3 id="logic">Sets Logic Operations</h3>

In [10]:
# Sample Sets

album_set1 = set(["joni", "are you", "ok"])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
# Print two sets

album_set1, album_set2

You can find the intersect of two sets as follow using <code>&</code>:

In [ ]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

You can find all the elements that are only contained in <code>album_set1</code> using the <code>difference</code> method:

In [ ]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

In [ ]:
album_set2.difference(album_set1)

In [ ]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

DICTIONNARISE

<h2 id="Dic">Dictionaries</h2>

An example of a Dictionary <code>Dict</code>:

In [11]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

The keys can be strings:

In [ ]:
# Access to the value by the key

Dict["key1"]

1

Keys can also be any immutable object such as a tuple:

In [ ]:
# Access to the value by the key

Dict[(0, 1)]

6