In [10]:
import pandas as pd 
import numpy as np

In [16]:
# Bining

In [15]:
# Data Create
data={'Age':[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]}
df=pd.DataFrame(data)

# bining 
bins=[0,20,40,60]
labels=['Young','Adult','Senior']
df['AgeGroup']= pd.cut(df['Age'],bins=bins,labels=labels)
print(df)

   Age AgeGroup
0    5    Young
1   10    Young
2   15    Young
3   20    Young
4   25    Adult
5   30    Adult
6   35    Adult
7   40    Adult
8   45   Senior
9   50   Senior

In [18]:
# Binizration

In [23]:
from sklearn.preprocessing import Binarizer

data=[2,32,3,2,3,2]
df=pd.DataFrame({'random data':data})

biz=Binarizer(threshold=5)

   random data
0            2
1           32
2            3
3            2
4            3
5            2