In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

# if response code is 403
 - headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
 -requests.get('url',headers=headers).text

In [2]:
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

In [3]:
soup=BeautifulSoup(webpage,'lxml')

In [4]:
#print(soup.prettify())

In [5]:
soup.find_all('h1')[0].text

'Access Denied'

# TO FIND OUT NAMES OF THE COMPANIES

In [6]:
for i in soup.find_all('h2'):
  print(i.text.strip())

In [7]:
for i in soup.find_all('p'):
  print(i.text.strip())

Reference #18.d7a4d417.1742411469.2453c036
https://errors.edgesuite.net/18.d7a4d417.1742411469.2453c036

In [8]:
#for in soup.find_all('p'):
  #print(i.text.strip())

## TO FIND OUT THE RATINGS

In [9]:
len(soup.find_all('p',class_='rating'))

0

## TO FIND OUT THE NUMBER OF REVIEWS

In [10]:
len(soup.find_all('a' , class_='review-count'))

0

# CONSIDERING THE WHOLE CONTAINER

In [11]:
company=soup.find_all('div',class_='company-content-wrapper')

In [12]:
len(company)

0

In [13]:
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
how_old=[]
no_of_employee=[]

for i in company:

  name.append(i.find('h2').text.strip())
  rating.append(i.find('p',class_='rating').text.strip())
  reviews.append(i.find('a' , class_='review-count').text.strip())
  ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
  hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
  how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
  no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())

df=pd.DataFrame({'name':name,
   'rating':rating,
   'reviews':reviews,
   'company_type':ctype,
   'Head_Quarters':hq,
   'Company_Age':how_old,
   'No_of_Employee':no_of_employee,
   })

In [14]:
name

[]

In [15]:
rating

[]

In [16]:
reviews

[]

In [17]:
ctype

[]

In [18]:
hq

[]

In [19]:
how_old

[]

In [20]:
no_of_employee

[]

In [21]:
df.shape

(0, 7)

# creating dataframe for all the pages

In [ ]:
final=pd.DataFrame()
for j in range(1,1001):
  webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='company-content-wrapper')
  name=[]
  rating=[]
  reviews=[]
  ctype=[]
  hq=[]
  how_old=[]
  no_of_employee=[]

  for i in company:

    try:
       name.append(i.find('h2').text.strip())
    except:
       name.append(np.nan)

    try:
       rating.append(i.find('p',class_='rating').text.strip())
    except:
       rating.append(np.nan)
   
    try:

      reviews.append(i.find('a' , class_='review-count').text.strip())
    except:
      reviews.append(np.nan)

    try:

      ctype.append(i.find_all('p',class_='infoEntity')[0].text.strip())
    except:
      ctype.append(np.nan)
    try:

      hq.append(i.find_all('p',class_='infoEntity')[1].text.strip())
    except:
      hq.append(np.nan)
    
    try:

      how_old.append(i.find_all('p',class_='infoEntity')[2].text.strip())
    except:
      how_old.append(np.nan)
    try:
      no_of_employee.append(i.find_all('p',class_='infoEntity')[3].text.strip())
    except:
      no_of_employee.append(np.nan)
    

  df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    'company_type':ctype,
    'Head_Quarters':hq,
    'Company_Age':how_old,
    'No_of_Employee':no_of_employee,
    })
  
  final=final.append(df,ignore_index=True)

In [ ]:
df.sample(5)

                           name rating  ...    Company_Age    No_of_Employee
2               Bank of America    4.3  ...   22 years old  10000+ employees
22               R.R. Donnelley    4.1  ...  156 years old  10000+ employees
11  Mahindra Holidays & Reso...    3.9  ...   24 years old  10000+ employees
23  GVK Emergency Management...    3.9  ...   15 years old  10000+ employees
9            Itc Infotech India    3.4  ...   20 years old  10000+ employees

[5 rows x 7 columns]

In [ ]:
df.shape

(30, 7)

In [ ]:
final.shape

(30000, 7)